div(id="modal-user-locate" class="modal zoom-anim-dialog mfp-hide")
  .modal-title
    h1 ВЫБЕРИТЕ СВОЙ ГОРОД
  .modal-body
    .user-locate-panel
      h2 
      ul
        li: a(href="#") Москва 
        li: a(href="#") Краснодар 
        li: a(href="#") Ростов-на-Дону
        li: a(href="#") Волгоград 
        li: a(href="#") Красноярск 
        li: a(href="#") Самара
        li: a(href="#") Воронеж 
        li: a(href="#") Нижний Новгород 
        li: a(href="#") Санкт-Петербург
        li: a(href="#") Екатеринбург 
        li: a(href="#") Новосибирск 
        li: a(href="#") Уфа
        li: a(href="#") Казань 
        li: a(href="#") Пермь 
        li: a(href="#") Челябинск