footer.m_footer
  .footer-shape
  .wrapper
    .contacts
      .logo: a(href="#"): img(src="images/logo.png" alt="")
      .tel
        span Служба поддержки пользователей:
        a(href="#") +7 (499) 659-34-72
      .email
        a(href="#") atengo@mail.ru
    .info 
      .privaticy Данный интернет-сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями ч. 2 ст. 437 ГК РФ.
      .copyright Copyright © 2017 Atengo