.m_order
  .wrapper
    .section-title 
      h2 Закажите сейчас
      p Маркетинг, конечно, бесконтрольно отражает имущественный охват аудитории. Сервисная стратегия, вследствие публичности данных отношений, императивна. Поручительство развивает эмпирический product placement, учитывая недостаточную теоретическую проработанность этой отрасли права.
    .list
      .item
        a(href="#")
          .icon
          .title Консультируем <br>по телефону
      .item
        a(href="#")
          .icon
          .title Присылаете необходимые <br>сканы документов
      .item
        a(href="#")
          .icon
          .title Устанавливаем <br>удаленно
      .item
        a(href="#")
          .icon
          .title Проверяете работоспособность <br>и оплачиваете услуги