.m_add-post
  position relative 
  margin-top 30px
  .page-title
    h2
      font-size 21px
  form
    textarea
      min-height 120px
      width 100%
      border 1px solid $violet
      border-radius 5px
      resize none
      padding 10px 15px
      opensans()
    .form-row:last-child
      text-align right
      padding-top 15px
    button
      anim()
      sn()
      position relative 
      box-shadow none
      background #94b371
      font-weight 600
      color #fff
      text-transform none
      padding 0 30px
      line-height 35px
      &:after
        display none
      &:hover
        background #ac6484