/* UI template styles */
.ui {
  font-family: 'Roboto', sans-serif;
  background: #fcfcfc;
  padding: 0 30px;
}
.ui .expansion-panel {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  border-radius: 5px;
}
.ui section {
  max-width: 980px;
  padding: 20px 0;
}
.ui section > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.ui section .row .col {
  font-size: 18px;
  padding: 15px;
  color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  border-radius: 3px;
  text-align: center;
  background: #333;
}
.ui section .btn-group {
  padding-bottom: 10px;
}
/* Base styles */
nav ol,
nav ul,
ol,
ul {
  list-style: none;
}
*,
:after,
:before,
:focus {
  outline: 0 !important;
}
audio,
canvas,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
body,
html {
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #0c85aa;
}
a:active,
a:focus,
a:hover,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  cursor: default;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote,
figure,
form {
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
small,
sub,
sup {
  font-size: 75%;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  padding: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  max-height: 400px;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
select {
  opacity: 0;
}
*,
:after,
:before {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
::-moz-selection {
  background: #ed1650;
  color: #fff;
}
::selection {
  background: #ed1650;
  color: #fff;
}
::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder,
textareainput:-moz-placeholder {
  color: #999;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  visibility: hidden;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  visibility: hidden;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  visibility: hidden;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  visibility: hidden;
}
.vertical-outer {
  display: table;
  width: 100%;
  height: 100%;
}
.vertical-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.fluid-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}
.valign-wrapper -webkit-align-items center -ms-flex-align center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.container {
  height: 100%;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper:before,
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
main {
  display: block;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row .col {
  float: left;
  width: 100%;
  margin: 1% 0;
}
@media only screen and (min-width: 568px) {
  .row .col.xs1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.xs1:nth-child(2n+1),
  .row .col.xs1:nth-child(3n+1),
  .row .col.xs1:nth-child(4n+1),
  .row .col.xs1:nth-child(6n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.xs2 {
    width: 49%;
    margin-left: 2%;
  }
  .row .col.xs2:nth-child(2n+1) {
    margin-left: 0;
  }
  .row .col.xs3 {
    width: 32%;
    margin-left: 2%;
  }
  .row .col.xs3:nth-child(3n+1) {
    margin-left: 0;
  }
  .row .col.xs4 {
    width: 23.5%;
    margin-left: 2%;
  }
  .row .col.xs4:nth-child(4n+1) {
    margin-left: 0;
  }
  .row .col.xs6 {
    width: 15%;
    margin-left: 2%;
  }
  .row .col.xs6:nth-child(6n+1) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .row .col.sm1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.sm1:nth-child(2n+1),
  .row .col.sm1:nth-child(3n+1),
  .row .col.sm1:nth-child(4n+1),
  .row .col.sm1:nth-child(6n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.sm2 {
    width: 49%;
    margin-left: 2%;
  }
  .row .col.sm2:nth-child(3n+1),
  .row .col.sm2:nth-child(4n+1),
  .row .col.sm2:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.sm2:nth-child(2n+1) {
    margin-left: 0;
  }
  .row .col.sm3 {
    width: 32%;
    margin-left: 2%;
  }
  .row .col.sm3:nth-child(2n+1),
  .row .col.sm3:nth-child(4n+1),
  .row .col.sm3:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.sm3:nth-child(3n+1) {
    margin-left: 0;
  }
  .row .col.sm4 {
    width: 23.5%;
    margin-left: 2%;
  }
  .row .col.sm4:nth-child(2n+1),
  .row .col.sm4:nth-child(3n+1),
  .row .col.sm4:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.sm4:nth-child(4n+1) {
    margin-left: 0;
  }
  .row .col.sm6 {
    width: 15%;
    margin-left: 2%;
  }
  .row .col.sm6:nth-child(2n+1),
  .row .col.sm6:nth-child(3n+1),
  .row .col.sm6:nth-child(4n+1) {
    margin-left: 2%;
  }
  .row .col.sm6:nth-child(6n+1) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .row .col.md1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.md1:nth-child(2n+1),
  .row .col.md1:nth-child(3n+1),
  .row .col.md1:nth-child(4n+1),
  .row .col.md1:nth-child(6n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.md2 {
    width: 49%;
    margin-left: 2%;
  }
  .row .col.md2:nth-child(3n+1),
  .row .col.md2:nth-child(4n+1),
  .row .col.md2:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.md2:nth-child(2n+1) {
    margin-left: 0;
  }
  .row .col.md3 {
    width: 32%;
    margin-left: 2%;
  }
  .row .col.md3:nth-child(2n+1),
  .row .col.md3:nth-child(4n+1),
  .row .col.md3:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.md3:nth-child(3n+1) {
    margin-left: 0;
  }
  .row .col.md4 {
    width: 23.5%;
    margin-left: 2%;
  }
  .row .col.md4:nth-child(2n+1),
  .row .col.md4:nth-child(3n+1),
  .row .col.md4:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.md4:nth-child(4n+1) {
    margin-left: 0;
  }
  .row .col.md6 {
    width: 15%;
    margin-left: 2%;
  }
  .row .col.md6:nth-child(2n+1),
  .row .col.md6:nth-child(3n+1),
  .row .col.md6:nth-child(4n+1) {
    margin-left: 2%;
  }
  .row .col.md6:nth-child(6n+1) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .row .col.lg1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.lg1:nth-child(2n+1),
  .row .col.lg1:nth-child(3n+1),
  .row .col.lg1:nth-child(4n+1),
  .row .col.lg1:nth-child(6n+1) {
    margin-left: 0;
    margin-right: 0;
  }
  .row .col.lg2 {
    width: 49%;
    margin-left: 2%;
  }
  .row .col.lg2:nth-child(3n+1),
  .row .col.lg2:nth-child(4n+1),
  .row .col.lg2:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.lg2:nth-child(2n+1) {
    margin-left: 0;
  }
  .row .col.lg3 {
    width: 32%;
    margin-left: 2%;
  }
  .row .col.lg3:nth-child(2n+1),
  .row .col.lg3:nth-child(4n+1),
  .row .col.lg3:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.lg3:nth-child(3n+1) {
    margin-left: 0;
  }
  .row .col.lg4 {
    width: 23.5%;
    margin-left: 2%;
  }
  .row .col.lg4:nth-child(2n+1),
  .row .col.lg4:nth-child(3n+1),
  .row .col.lg4:nth-child(6n+1) {
    margin-left: 2%;
  }
  .row .col.lg4:nth-child(4n+1) {
    margin-left: 0;
  }
  .row .col.lg6 {
    width: 15%;
    margin-left: 2%;
  }
  .row .col.lg6:nth-child(2n+1),
  .row .col.lg6:nth-child(3n+1),
  .row .col.lg6:nth-child(4n+1) {
    margin-left: 2%;
  }
  .row .col.lg6:nth-child(6n+1) {
    margin-left: 0;
  }
}
body {
  font-size: 16px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
a[href^="tel"] {
  cursor: default;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
}
article {
  position: relative;
}
article a {
  text-decoration: underline;
}
article a:hover {
  color: #f00;
}
article img {
  max-width: 100%;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  article img {
    width: auto;
    float: left;
    max-width: 100%;
    margin-right: 25px;
    margin-bottom: 10px;
  }
}
article h1,
article h2,
article h3,
article h4 {
  margin-bottom: 0.5em;
}
article h2 {
  font-size: 24px;
}
article h3 {
  font-size: 20px;
}
article h4 {
  font-size: 16px;
}
article blockquote {
  border-left: 3px solid #424242;
  padding-left: 20px;
}
article > ul {
  padding-bottom: 20px;
}
article > ul li {
  position: relative;
  padding-left: 10px;
}
article > ul li:before {
  content: '•';
  color: #424242;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
article > ul li + li {
  margin-top: 5px;
}
article ol li {
  position: relative;
  padding-left: 30px;
  counter-increment: step-counter;
  margin-bottom: 15px;
}
article ol li:before {
  content: counter(step-counter);
  margin-right: 10px;
  margin-bottom: 4px;
  font-size: 80%;
  background-color: #424242;
  color: #fff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
}
/* Components styles */
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  min-width: 88px;
  margin: 6px 5px 6px 0;
  padding: 10px 16px;
  text-transform: uppercase;
  text-decoration: none;
  will-change: box-shadow;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  color: #424242;
  border: none;
}
.btn:after {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.btn:hover:after {
  background-color: rgba(0,0,0,0.12);
}
.btn[disabled] {
  opacity: 0.5;
}
.btn[disabled]:hover:after {
  background: none;
}
.ripple {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.ripple .ink {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.ripple .animate {
  -webkit-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.btn-mobile-menu {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: #424242;
  border: none;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .btn-mobile-menu {
    display: none;
  }
}
.btn-mobile-menu:after,
.btn-mobile-menu:before,
.btn-mobile-menu i {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  margin-left: -10px;
  height: 2px;
  background: #fff;
}
.btn-mobile-menu:before {
  top: 10px;
}
.btn-mobile-menu:after {
  bottom: 10px;
}
.btn-mobile-menu i {
  top: 50%;
  margin-top: -1.5px;
}
.btn-mobile-menu.is-open i {
  opacity: 0;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
.btn-mobile-menu.is-open:after {
  -webkit-transform: rotate(135deg) translate(-6px, 6px);
  -ms-transform: rotate(135deg) translate(-6px, 6px);
  -o-transform: rotate(135deg) translate(-6px, 6px);
  transform: rotate(135deg) translate(-6px, 6px);
}
.btn-mobile-menu.is-open:before {
  -webkit-transform: rotate(-135deg) translate(-4px, -4px);
  -ms-transform: rotate(-135deg) translate(-4px, -4px);
  -o-transform: rotate(-135deg) translate(-4px, -4px);
  transform: rotate(-135deg) translate(-4px, -4px);
}
.checkboxes {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
}
.checkboxes + .checkboxes {
  margin-left: 15px;
}
.checkboxes label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.checkboxes input {
  opacity: 0;
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.checkboxes .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
}
.checkboxes .label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  padding-left: 5px;
}
.checkboxes input:checked + .icon {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  background: #333;
}
.expansion-panel li:first-child .ep-header {
  border-radius: 2px 2px 0 0;
}
.expansion-panel li:last-child .ep-header {
  border-radius: 0 0 2px 2px;
}
.expansion-panel li:last-child .ep-header.is-open {
  border-radius: 0;
}
.expansion-panel li:last-child .ep-body {
  border-radius: 0 0 2px 2px;
}
.expansion-panel li .ep-header {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #333;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
}
.expansion-panel li .ep-header:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -2.5px;
}
.expansion-panel li .ep-header:hover {
  background: #3d3d3d;
}
.expansion-panel li .ep-header.is-open {
  background: #3d3d3d;
}
.expansion-panel li .ep-header.is-open:after {
  border-color: transparent transparent #fff transparent;
  border-width: 0 5px 5px 5px;
}
.expansion-panel li .ep-body {
  display: none;
  background: #999;
  padding: 15px 30px;
}
.expansion-panel li .ep-body p:last-child {
  margin-bottom: 0;
}
.modal {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
}
.modal p:last-child {
  margin-bottom: 0;
}
.modal .modal-title {
  margin-bottom: 10px;
}
.radios {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
}
.radios + .radios {
  margin-left: 15px;
}
.radios label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.radios input {
  opacity: 0;
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.radios .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
}
.radios .label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  padding-left: 5px;
}
.radios input:checked + .icon {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  background: #333;
}
.select select {
  min-width: 200px;
}
@media screen and (max-width: 768px) {
  .responsive-table {
    overflow: auto;
  }
  .responsive-table table {
    width: 700px;
    min-width: 100%;
  }
}
table {
  width: 100%;
  text-align: center;
}
table th,
table td {
  padding: 15px;
  -webkit-box-shadow: 0 0 0 1px #d5d5d5;
  box-shadow: 0 0 0 1px #d5d5d5;
}
table th {
  background: #e0e0e0;
  cursor: default;
}
table th:first-child {
  border-radius: 2px 0 0 0;
}
table th:last-child {
  border-radius: 0 2px 0 0;
}
table td {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #f0f0f0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 2px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 2px 0;
}
table tr:hover td {
  background: #ebebeb;
}
/* Modules styles */
.m_breadcrumbs {
  position: relative;
}
.m_breadcrumbs ul {
  cursor: default;
  font-size: 0;
}
.m_breadcrumbs ul li {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.m_breadcrumbs ul li:after {
  content: '-';
  margin-left: 5px;
  margin-right: 5px;
}
.m_breadcrumbs ul li:last-child:after {
  display: none;
}
.m_breadcrumbs ul li a {
  color: #333;
}
.m_breadcrumbs ul li a:hover {
  text-decoration: underline;
}
.m_breadcrumbs ul li:last-child a {
  color: #ee6e73;
  cursor: default;
  text-decoration: none;
}
.m_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #3b3a36;
}
.m_header {
  background: #3b3a36;
  height: 70px;
}
.m_pagination ul {
  cursor: default;
  font-size: 0;
}
.m_pagination li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}
.m_pagination li a {
  min-width: 0;
  position: relative;
  margin-right: 0;
}

/*# sourceMappingURL=app.css.map */
