extends ../modules/layout/layout.jade

block title
  title Как получить

block data
  include ../static/content/_home.jade

block settings
  - var container_shapes = true

block content
  
  main
    - var breadcrumbs = ['Главная', 'Как получить']
    include ../modules/breadcrumbs/m_breadcrumbs.jade
    .page-title
      h2 Как получить
    .m_steps
      .item
        .title <span class="strong"><i>1</i> способ</span> простой
        .desc
          p Вы отправляете нам на электронную почту реквизиты компании, которую хотите подключить, и если выбрали, тариф. В ответ мы пришлём счёт, заявление и договор. Дальнейшие шаги подскажет Ваш личный менеджер.
      .item
        .title <span class="strong"><i>2</i> способ</span> самостоятельный
        .desc
          h3 Список документов необходимых для получения квалифицированной электронной подписи.
          ul
            li Заявление, нашего образца, на выдачу и регистрацию сертификата ключа подписи. Составляется в 1 - м экземпляре. Заполненное заявление необходимо подписать руководителю организации и поставить печать.
            li Договор, нашего образца, для подключения одиночной компании или нескольких компаний, в 2 - х экземплярах.
            li Копия свидетельства о государственной регистрации юридического лица или ИП, с отметкой "копия верна", с подписью руководителя и печатью организации.
            li Копия свидетельства о постановке на учёт налогоплательщика, с отметкой "копия верна", с подписью руководителя и печатью организации.
            li Для юр.лиц - копия приказа о назначении на должность директора, заверенная печатью и подписью.
            li Копия паспорта руководителя, заверенная печатью организации и подписью с отметкой "копия верна".
            li Копия СНИЛС руководителя, заверенная печатью организации и подписью с отметкой "копия верна".
          p Для оперативного подключения электронной отчетности сканы документов можно направлять нам на электронную почту.
          p Для того, чтобы передать <a href="#">отчётность в ПФР</a> Вам необходимо заполнить соглашение с ПФР и подписать его в УПФР по месту регистрации компании.
          p Лицензионный договор с <b>Атенго</b> можно оформить при получении программного обеспечения.
          h3 Услуги по договору на подключение электронной отчетности включают в себя:
          ul
            li штатную замену сертификата ключа ЭЦП не реже одного раза в год, этим ключом подписывается отчетность;
            li техническая поддержка, при проблемах с отправкой налоговой отчетности в электронном виде смело обращайтесь к специалистам нашей компании;
            li автоматическое обновление программного обеспечения;
            li предоставление криптопровайдера Крипто ПРО или VipNet CSP, если он не установлен.
          p Если руководитель организации доверяет право получения сертификата ключа ЭЦП и носителя с ключевой информацией сотруднику своей организации, при получении программного обеспечения предоставляется доверенность и паспорт. Весь комплект документов и дистрибутив можно получить в нашем офисе.
  include ../modules/order/m_order.jade
  include ../modules/safetly/m_safetly.jade
  