extends ../modules/layout/layout.jade

block title
  title Заявки

block data
  include ../static/content/_home.jade
  
block settings
  - var container_shapes = true

block content
  main
    - var breadcrumbs = ['Главная', 'Тарифы']
    include ../modules/breadcrumbs/m_breadcrumbs.jade
    .page-title
      h2 Тарифы
    .m_taxes
      article
        p: b Подключение Атенго Отчет в Московской области
        p Эти тарифы применяются для организаций и Индивидуальных Предпринимателей зарегистрированных и/или ведущих деятельность в любом населённом пункте Московской области.
        h2 СТОИМОСТЬ ЛИЦЕНЗИИ ПП «АТЕНГО ОТЧЕТ»
        p (НДС не облагается) на 12 месяцев, в рублях.
        p Для <b>одиночных</b> компаний, общей численностью <b>до 5 штук</b>, мы предлагаем 2 тарифа: <b>БАЗОВЫЙ</b> и <b>ОПТИМАЛЬНЫЙ</b>.
        table.type-1
          tr
            th.no-border
            th(colspan='4') Вид налогооблажения
          tr
            td Тарифы
            td ОСНО
            td ЕНДВ, <BR>УСНО
            td ИП
            td БЮДЖЕТ
          tr
            td.bg-green ТАРИФНЫЙ план БАЗОВЫЙ
            td(colspan='4') ОСНОВНОЙ АБОНЕНТ
          tr
            td(rowspan='3').bg-white 
              div.el - Сдача отчетности в ДВА любых контролирующих органа по выбору (ФНС, ПФР, ФСС, РОССТАТ)
              div.el - Обмен неформализованными документами с ИНФС, ПФР
              div.el - Выдача ЭЦП
            td 6 300
            td 3 900
            td 2 900
            td 3 000
          tr
            td(colspan='4').bg-light-green * Дополнительный абонент
          tr
            td 5 700
            td 3 500
            td 2 600
            td 2 700
          tr
            td.bg-green Тарифный план ОПТИМАЛЬНЫЙ
            td(colspan='4') Основной Абонент
          tr
            td(rowspan='3').bg-white
              div.el - Сдача отчетности в ЧЕТЫРЕ контролирующих органа (ФНС, ПФР, ФСС, РОССТАТ)
              div.el - Сверка лицевых счетов с ИФНС, ПФР
              div.el - Обмен неформализованными документами с ИФНС, ПФР
              div.el - Информационная выписка из ЕГРЮЛ / ЕГРИП
              div.el - Выдача ЭЦП
            td 8 900
            td 5 900
            td 3 900
            td 5 600
          tr
            td(colspan='4').bg-light-green * Дополнительный абонент
          tr
            td 8 00
            td 5 300
            td 3 500
            td 5 000

        p  * Дополнительный Абонент – это юридическое или физическое лицо подключенное следующим (вторым и далее) после подключения основного абонента.
        table.type-2
          tr
            th Расширение лицензиции для ТП БАЗОВЫЙ И ОПТИМАЛЬНЫЙ
            th Стоимость
          tr
            td Дополнительное направление в ИФНС (каждое дополнительное КПП)
            td 500
          tr
            td Внеплановая смена сертификата ЭЦП (за один сертификат и его регистрацию)
            td 600
          tr
            td Дополнительное направление сдачи отчетности (ФНС, ПФР, ФСС, Стат)
            td 1 500
          tr
            td Информационная выписка из ЕГРЮЛ или ЕГРИП
            td 1 000
          tr
            td Электронный USB-ключ eToken
            td 1 000
        p Для одновременного подключения нескольких компаний, общей численностью от 5 штук, у нас разработан специальный выгодный тариф - ГРУППА КОМПАНИЙ.
        table.type-3
          tr
            th Тариф ГРУППА КОМПАНИЙ
            th(colspan="7") Стоимость за одну организацию,<br>N – количество организаций в группе
          tr
            td
              div.el - Сдача отчетности в ФНС, ПФР, ФСС, РОССТАТ
              div.el - Сверка лицевых счетов с ИФНС, ПФР
              div.el - Обмен неформализованными <br>документами с ИФНС, ПФР
              div.el - Выдача одной ЭЦП для <br>каждой организации в группе
            td 5-10
            td 11-20
            td 21-30
            td 31-40
            td 41-50
            td 51-100
            td 101-200
          tr
            td
            td N*3 500
            td N*2 650
            td N*2 100
            td N*1 800
            td N*1 550
            td N*1 450
            td N*1 250
        table.type-2
          tr
            th Расширение лицензиции для тарифа ГРУППА КОМПАНИЙ
            th Стоимость
          tr
            td Дополнительное направление в ИФНС (доп. КПП) для каждой организации
            td 350
          tr
            td Внеплановая смена сертификата ЭЦП (за один сертификат и его регистрацию)
            td 450
          tr
            td Информационная выписка из ЕГРЮЛ или ЕГРИП
            td 1 000
          tr
            td Электронный USB-ключ eToken
            td 900          
        p Для удобства пользования нашим сервисом мы предлагаем выезд специалистов и курьеров.
        p Вы также можете самостоятельно забрать дистрибутив приготовленной для Вашей компании программы в одном из наших офисов. Время и дату приезда просим согласовать заранее.