.m_form-order
  position relative 
  .form-title
    font-size 18px
    text-transform uppercase
    font-weight 600
    color $dark
    margin-bottom 10px
  .form-data
    border-top 2px solid $violet
    border-bottom 2px solid $violet
    color $dark
    .row
      padding 10px 0
      @media SM
        padding 15px 0
      & + .row
        border-top 1px solid $violet        
    .label
      font-weight 700
      width 80px
      @media XS
        width 150px
      @media SM
        width 200px
    .label,
    .value
      display inline-block
    .pay-variants
      padding-bottom 15px
      .label
        display block
        width 100%
        @media SM
          width 200px
          display inline-block
      &.selected
        padding-bottom 0
        .label,
        .value
          display inline-block
          vertical-align middle
          width auto
        .label
          @media SM
            width 200px !important
      .columns
        clearfix()
        .column
          @media XS
            display inline-block
            vertical-align top
            width 49%
          @media SM
            width auto
            padding-right 15px
          @media MD
            padding-right 50px
      .item
        margin-top 10px
        position relative 
        @media SM
          margin-top 0
          margin-bottom 10px
        .header
          a
            color #ac6484
            text-decoration none
            position relative 
            padding-right 15px
            &:after
              content ''
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 5px 0 5px;
              border-color: #ac6484 transparent transparent transparent;
              position absolute
              right 0
              top 50%
              margin-top -1px
            &:hover
              color #487417
              &:after
                border-color: #487417 transparent transparent transparent;
              span
                border-color #487417
            span
              border-bottom 1px dashed #ac6484              
        .body
          display none
          background #94b371 
          border-radius 5px
          width 200px
          position absolute
          left 0
          top 100%
          margin-top 10px
          z-index 1
          @media screen and (min-width: 330px)
            width 285px
          @media screen and (min-width: 420px)
            width 370px
          @media screen and (min-width: 500px)
            width 455px
          ul
            font-size 0
            padding 15px
          li
            display inline-block
            vertical-align top
            width 80px
            height 48px
            line-height 48px
            text-align center
            background #fff
            border-radius 5px
            overflow hidden
            margin-right 2.5px
            margin-left 2.5px
            margin-bottom 5px            
            a
              display block
              img
                anim()
                display inline-block
                vertical-align middle
                max-width 100%
                max-height 100%
                &:hover
                  opacity .7
  .form-submit
    position relative 
    color $dark
    padding-top 15px
    button
      &:after
        display none
    .total
      text-align center
      @media XS
        float left
        width 50%
        text-align left
      .date 
        font-size 14px
      .cost
        font-size 24px
        font-weight 600
    .action
      text-align center
      @media XS
        float left
        width 50%
        text-align right
        padding-top 10px
      button
        anim()
        box-shadow none
        color #fff
        font-weight 600
        text-transform none
        @media SM
          padding 10px 30px
        &.print
          background #94b371
          &:hover
            background #94b371 - 25%            
        &.submit
          background #7b5481
          &:hover
            background #7b5481 - 25%