.modal
  position relative
  max-width 600px
  margin 20px auto
  padding 20px
  background #fff
  border-radius $radius
  p
    &:last-child
      margin-bottom 0
  .modal-title
    margin-bottom 10px
    h1
      color $violet
      text-align center
      line-height 1
  .modal-body
    .user-locate-panel
      padding-top 20px
      text-align center
      li
        display inline-block
        vertical-align top
        a
          anim()
          color $dark
          display inline-block
          vertical-align middle
          padding 5px
          font-weight bold
          &:hover
            color #000
            