.m_sub-nav
  background #94b371
  ul
    padding 10px 0
    li
      display inline-block
      vertical-align middle
      a
        anim()
        ptsans()
        display inline-block
        border-radius 5px
        padding 8px 15px
        text-transform uppercase
        color #fff
        &:hover,
        &.current
          background $brown
          color #ac6484
        &.current
          cursor default