.m_breadcrumbs
  position relative
  margin-bottom 30px
  padding-top 15px
  ul
    cursor default
    font-size 0
    li
      font-size 16px
      display inline-block
      vertical-align middle
      &:after
        content '/'
        margin-left 4px
        margin-right 4px
        color #a094a3
        font-size 12px
      &:last-child:after
        display none
      a
        font-size 12px
        color #a094a3
        text-decoration underline
        &:hover
          text-decoration none
      &:last-child
        a
          text-decoration none
          cursor default
