.m_pagination
  ul
    li: a(class="btn" href="#"): span 1
    li: a(class="btn" href="#"): span 2
    li: a(class="current btn" href="#"): span 3
    li: a(class="btn" href="#") ...
    li: a(class="btn" href="#"): span 25
