.m_pagination
  ul
    cursor default
    font-size 0
  li
    display inline-block
    vertical-align middle
    margin-left 4px
    margin-right 4px
    a
      min-width 0
      position relative
      margin-right 0
      padding 0
      background none
      box-shadow none
      color $dark
      padding-left 5px
      padding-right 5px
      &.current,
      &:hover
        background #dfdfb3
        span
          text-decoration none
      span
        text-decoration underline