header.m_header
  .top
    .wrapper
      .contacts
        .logo: a(href="#"): img(src="images/logo.png" alt="")
        .tel
          span Служба поддержки пользователей:
          a(href="#") +7 (499) 659-34-72
        .email
          a(href="#") atengo@mail.ru  
  .bottom-blank-panel
  .bottom
    .user-actions
      .locate
        a(class="btn-modal" href="#modal-user-locate")
          .icon
          .label: span Москва
      .profile
        a(href="#")
          .icon
          .label: span Профиль
      .cart
        a(href="#")
          .icon
          .count 3
          .label: span Корзина
    .mobile-menu
      .btn-mobile-menu
        i
    nav.menu
      ul
        li: a(href="#"): span заказать         
        li: a(href="#"): span тарифы         
        li: a(href="#"): span как получить         
        li: a(href="#"): span что такое         
        li: a(href="#"): span новости                           
        li: a(href="#"): span регистрация личного кабинета               
        li: a(href="#"): span контакты