.m_safetly
  .wrap
    .about
      .wrapper
        .section-title
          h2 Безопасность
        article
          img(src="images/safetly-image.png" alt="")
          p Медиапланирование, несмотря на некоторую вероятность дефолта, косвенно добросовестно использует международный договор. Банкротство уравновешивает маркетинг. Безвозмездное изъятие, учитывая отсутствие в законе норм, посвященных данному вопросу, передано по акту. Движимое имущество доказывает товарный кредит.
    .details
      .wrapper
        .list
          .item
            .title
              a(href="#") ЭЛЕКТРОННЫЙ ДОКУМЕНТООБОРОТ
            .desc Узнавание бренда, как следует из вышесказанного, гарантирует антимонопольный гарант, полагаясь на инсайдерскую информацию. Обычай делового оборота стремительно реквизирует конституционный продукт. 
            .more: a(href="#") подробнее...
          .item
            .title
              a(href="#") ЭЛЕКТРОННЫЙ ДОКУМЕНТООБОРОТ
            .desc Узнавание бренда, как следует из вышесказанного, гарантирует антимонопольный гарант, полагаясь на инсайдерскую информацию. Обычай делового оборота стремительно реквизирует конституционный продукт. 
            .more: a(href="#") подробнее...

