.m_news
  position relative 
  clearfix()
  & + .m_pagination
    text-align right
    margin-top 15px
  .item
    border-bottom 1px solid $violet
    padding 15px
    @media SM
      float left
      width 48%
      margin-left 4%
      &:nth-child(odd)
        margin-left 0
        clear left
    &:hover
      background #f6f0f6
    a
      display block
      width 100%
      height 100%
      color $dark
      .title
        text-decoration underline
        text-transform uppercase
        font-weight 600
        margin-bottom 5px
        &:hover
          text-decoration none